<app-menu></app-menu>

    <h2>C O N S U L T A</h2>


    <div [formGroup]="messageForm">
        <input type="text" placeholder="Nro de empleado" formControlName="name">
        <input type="text" placeholder="Asunto" formControlName="subject">
        <input type="text" placeholder="name@chickenfarm.com" formControlName="email">
        <textarea formControlName="message"></textarea>

        <p-button label="Enviar" type="button" styleClass="ui-button-success ui-button-rounded"></p-button>
    </div>
