$fondoclaro: #fcfcfc;
$titulo: #d8df99;
$fondo: #768d4a;
$nuevo: #91532b;
$detail: #912b56; 


div{
    background-color: $fondoclaro;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 0% 1% 0% 1%;
}
a.ancla {
    display: inline-block;
    width: 100%;
    height: 85px;
    text-align: left;
    font-size: 28px;
    color: $nuevo;
    padding: 27px 0% 0% 4%; 
    margin: 5% 0% 7% 0%;
    border-left: solid;
    border-color: $nuevo;
    border-width: 2px;       
}

@media screen and (max-width:600px){
    .contenedor-anclas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}

@media screen and (min-width:600px){
    h2{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contenedor-anclas {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    a.ancla:hover{
        border-color: $fondo;
    }
}