<app-menu></app-menu>

<p class="titulo">P R O D U C T O S</p>
<div class="contenedor">
    <div class="fila1">    
        <p-card>
                <p-header>
                <p>Gallinas</p>
                </p-header>
                
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>
    
        <p-card>
                <p-header>
                <p>Huevos</p>
                </p-header>
                
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>
    </div>

    <div class="fila2">
        <p-card>
                <p-header>
                <p>Pollos</p>
                </p-header>
                
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>

        <p-card>
                <p-header>
                <p>Alimento balanceado</p>
                </p-header>
                
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>
    </div>
</div>