<app-menu></app-menu>

<h2 class="titulo">P R O D U C T O S</h2>
<div class="contenedor">
    <div class="fila1">    
        <p-card>
                <p-header>
                <p class="card-header">GALLINAS</p>
                </p-header>
                <img class="img-gallinas" src="assets\img\gallinas.jpg">       
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>
    
        <p-card>
                <p-header>
                <p class="card-header">HUEVOS</p>
                </p-header>
                <img class="img-huevos" src="assets\img\huevos.jpg">
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>
    </div>

    <div class="fila2">
        <p-card>
                <p-header>
                <p class="card-header">POLLOS</p>
                </p-header>
                <img class="img-pollos" src="assets\img\pollos.jpg">                
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>

        <p-card>
                <p-header>
                <p class="card-header">ALIMENTO BALANCEADO</p>
                </p-header>
                <img class="img-alimento" src="assets\img\crop.jpg">
                <p-footer>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab voluptas fugiat incidunt neque.</p>
                </p-footer>
        </p-card>
    </div>
</div>