<app-menu></app-menu>

<p>S T O C K</p>

    <p-table [value]="stock">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stock>
                <tr>
                    <td *ngFor="let col of cols,i">
                        {{stock[col.field]}}
                    </td>
                    <td>
                        <p-button class="boton_tabla" label="Editar" type="button" (onClick)="editStock()" styleClass="ui-button-success ui-button-rounded"></p-button>

                        <p-button class="boton_tabla" label="Eliminar" type="button" (onClick)="deleteStock(stock)" styleClass="ui-button-danger ui-button-rounded"></p-button>
                    </td>
                </tr>

            </ng-template>
        </p-table>

        <div [formGroup]="stockForm"> 
                <p-dropdown [options]="products" formControlName="name" placeholder="Productos"></p-dropdown>
                <input type="text" pInputText placeholder="Tipo" formControlName="color">
                <input type="text" pInputText placeholder="Cantidad" formControlName="cant">
                <div *ngIf="hasError('name', 'tipo', 'cant')">
                    {{showRequiredMessage()}}
                </div>

                <p-button label="Guardar" type="button" (onClick)="save()" styleClass="ui-button-success ui-button-rounded"></p-button>
        </div>
