<div>
    <h2>A D M I N I S T R A C I Ó N</h2>
    <app-item-menu *ngFor="let item of items,let i=index" [item]="item" [paths]="paths[i]"></app-item-menu>

    <!--<div class="contenedor-anclas">
        <div class="links">    
            <a (click)="setRoute('/productos')" class="ancla">Productos</a>
            <a (click)="setRoute('/stock')" class="ancla">Stock</a>
        </div>
        <div class="links">
            <a (click)="setRoute('/schedule')" class="ancla">Cronograma</a>
            <a (click)="setRoute('/contacto')" class="ancla">Contacto</a>
        </div>
    </div>-->
</div>

