<div>
    <h2>Administración</h2>

    <div class="contenedor-anclas">
<!--         <div class="p-col">
            <p>STOCK</p>
        </div>
        <div class="p-col">
            <p>ALIMENTOS</p>
        </div>
        <div class="p-col">
            <p>VENTAS</p>
        </div> -->
        <a href="/productos" class="ancla">PRODUCTOS</a>
        <a href="/stock" class="ancla">STOCK</a>
        <a href="/schedule" class="ancla">CRONOGRAMA</a>
        <a href="/contacto" class="ancla">CONTACTO</a>
    </div>
</div>

