$fondoclaro: #f7f5f1;
$titulo: #d8df99;
$fondo: #768d4a;

h2{
    display: flex;
    justify-content: left;
    width: 100%;
}
div{
    background-color: $fondoclaro;
    width: 100%;
    min-height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
}

@media screen and (max-width:768px){
    .contenedor-anclas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a.ancla {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: $fondoclaro;
        padding: 20px;
        margin-bottom: 10px;
        background-color: $fondo;        
    }
}

@media screen and (min-width:758px){
    .contenedor-anclas {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    a.ancla{
        display: inline-block;
        width: 60%;
        text-align: center; 
        font-size: 24px;
        font-weight: 600;
        color: $fondoclaro;
        padding: 20px;
        margin: 1%;
        background-color: $fondo;        
 }      
        
}

@media screen and (max-width:758px){
    
}


